<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Add Project</title>
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
</head>

<body>


<form id="AddProject" method="post" action="@Url.Action("AddProject", "AddProject")" enctype="multipart/form-data">
    <div>
        <h1> Add Project</h1>
        @if (ViewBag.mg != null)
        {
            <h2 style="color: red">@ViewBag.mg</h2>
        }
        @if (ViewBag.mgs != null)
        {
            <h2 style="color: green">@ViewBag.mgs</h2>
        }
        
    </div>
    <div>
        
        <table class="table tab-pane table-striped ">
            <tr>
                <td>
                    <label>Name</label>
                </td>
                <td>
                    <input type="text" id="ProjectName" name="ProjectName" size="80" height="20" class="form-control" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Code Name</label>
                </td>
                <td>
                    <input type="text" id="CodeName" name="CodeName" class="form-control" />

                </td>
            </tr>
            <tr>
                <td>
                    <label>Description</label>
                </td>
                <td>
                    <input type="text" id="Description" name="Description" size="80" height="40" class="form-control" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Possible Start Date </label>
                </td>
                <td>
                    <input type="text" id="StartDateTime" name="StartDateTime" class="form-control" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Possible End Date </label>
                </td>
                <td>
                    <input type="text" id="EndDateTime" name="EndDateTime" class="form-control" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Duration (in Days) </label>
                </td>
                <td>
                    <input type="text" id="Duration" name="Duration" class="form-control" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Upload File </label>
                </td>
                <td>
                    <input type="file" id="UploadFilePath" name="UploadFilePath" class="form-control" />

                </td>
            </tr>
            <tr>
                <td>
                    <label>Status</label>
                </td>
                <td>
                    <input type="radio" id="Not Started" name="Status" value="Not Started" /> Not Started<br />
                    <input type="radio" id="Started" name="Status" value="Started" /> Started<br />
                    <input type="radio" id="Complited" name="Status" value="Complited" /> Complited<br />
                    <input type="radio" id="Canceled" name="Status" value="Canceled" /> Canceled
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Save" />
                </td>
            </tr>
        </table>
       
        
    </div>
   

</form>

@section scripts{

    <script src="~/Scripts/jquery-1.12.4.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.0.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script>

        $(document).ready(function() {
            $("#StartDateTime").datepicker({
                showAnim: "bounce"
            });
            $("#EndDateTime").datepicker({
                showAnim: "bounce"
            });
            $("#AddProject").validate({
                rules: {
                    ProjectName: "required",
                    CodeName: "required",
                    Description: "required",
                    StartDateTime: "required",
                    EndDateTime: "required",
                    Duration: "required",
                    UploadFilePath: "required"
                },
                messages: {
                    ProjectName: "Please provide Project Name  .",
                    CodeName: "Please provide Code Name .",
                    Description: "Please provide description",
                    StartDateTime: "Please Provide Start Date .",
                    EndDateTime: "Please Provide End Date .",
                    Duration: "Please provide Duration .",
                    UploadFilePath: "Please provide File ."
                }
            });

        });
    </script>
}
</body>
</html>
