
@{
    ViewBag.Title = "AssignResoursePerson";
}

<h2>AssignResoursePerson</h2>
@using (Html.BeginForm())
{
    <table class="table">
        
        <tr>
            <td>
                <label>Select Project</label>
            </td>
            <td>
                <select id="SelectProject"></select>
            </td>
        </tr>
    </table>
}

